<a href="https://colab.research.google.com/github/EddyGiusepe/Flatten_Nested_JSON_in_Pandas/blob/main/Flatten_Nested_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h2 align='center'>**Flatten Nested JSON in Pandas**</h2> 

\\
**Cientista de Dados Jr.:**  Dr.Eddy Giusepe Chirinos Isidro

Este estudo está baseado no seguinte Tutorial do Kaggle: https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas/notebook.

Neste link você pode descargar os Dados necessários para rodar o Script.

## Importar nossas bibliotecas

In [1]:
import json # JSON significa JavaScript Object Notation (Notação de Objecto JavaScript)
import pandas as pd
from pandas.io.json import json_normalize #pacote para achatar json em pandas df

## Carregar objeto .json

In [4]:
with open('/content/drive/MyDrive/4_EDDY_ISH_TECNOLOGIA/3_Data_Science_Augusto_Eddy/raw_nyc_phil.json', 'r') as f:
    json_datos = json.load(f)

In [9]:
nycphil = json_normalize(json_datos['programs'])
nycphil.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

    season  ...                                    id
0  1842-43  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
1  1842-43  ...  c7b2b95c-5e0b-431c-a340-5b37fc860b34
2  1842-43  ...  894e1a52-1ae5-4fa7-aec0-b99997555a37

[3 rows x 6 columns]

## Nossos Dados como um DataFrame

In [10]:
df_nycphil = pd.DataFrame(json_datos["programs"])

In [13]:
df_nycphil.sample(5)

        season  ...                                    id
13071  2010-11  ...  7d03ffd5-b59b-456a-bcba-621f70339459
10551  1987-88  ...  824719b5-0f33-4c92-9046-74c5f7180ae7
8361   1964-65  ...  39e624cf-49d4-49af-a19f-11bbd820808c
13597  2014-15  ...  dca306d6-1fc9-417f-ba5a-8fd355c23fde
1701   1917-18  ...  505aa246-5bc8-4add-ae7a-3b1fae8acb33

[5 rows x 6 columns]

Vemos (pelo menos) duas colunas aninhadas, concerts e works. A documentação do Json_normalize nos dá algumas dicas de como nivelar ainda mais os dados semiestruturados. Vamos desempacotar a coluna works em um dataframe independente. Também pegaremos as colunas planas para que possamos fazer análises. Os parâmetros aqui são um pouco heterodoxos, veja se você consegue entender o que está acontecendo.

In [15]:
works_data = json_normalize(data=json_datos['programs'], record_path='works',
                            meta=['id', 'orchestra','programID', 'season'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [16]:
works_data.shape

(82793, 15)

In [19]:
works_data.head(5)

                          workTitle        conductorName  ... programID   season
0  SYMPHONY NO. 5 IN C MINOR, OP.67  Hill, Ureli Corelli  ...      3853  1842-43
1                            OBERON       Timm, Henry C.  ...      3853  1842-43
2   QUINTET, PIANO, D MINOR, OP. 74                  NaN  ...      3853  1842-43
3                               NaN                  NaN  ...      3853  1842-43
4                            OBERON    Etienne, Denis G.  ...      3853  1842-43

[5 rows x 15 columns]

Excelente!

* passou o caminho de dados do objeto json d[programs]
* passou o caminho do record dentro do objeto que queríamos parsear funciona
* passou os metadados pai que queríamos anexar

Sua vez: você pode descompactar os dados dos concerts?

\\
**Dados profundamente aninhados**

E daí se você encontrar uma matriz aninhada dentro da sua matriz aninhada? Se você voltar e olhar para works_data achatados,
você pode ver uma segunda coluna aninhada, "soloists". Felizmente, os documentos json_normalize mostram que você pode passar
uma lista de colunas, em vez de uma única coluna, para o caminho do record para unflatten json profundamente aninhado.

Vamos flatten (achatar) os dados de 'soloists' aqui, passando uma lista. Uma vez que os soloists estão aninhados em works, podemos passar isso como:

In [21]:
soloist_data = json_normalize(data=json_datos['programs'], record_path=['works', 'soloists'],
                              meta=['id'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [23]:
soloist_data.shape

(56194, 4)

In [24]:
soloist_data.head(6)

             soloistName  ...                                    id
0       Otto, Antoinette  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
1  Scharfenberg, William  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
2    Hill, Ureli Corelli  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
3         Derwort, G. H.  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
4        Boucher, Alfred  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002
5          Rosier, F. W.  ...  38e072a7-8fc9-4f9a-8eac-3957905c0002

[6 rows x 4 columns]

Link para ler um arquivo CSV utilizando a biblioteca Pandas:

* https://medium.com/@henrique.gelatti/diferentes-formas-de-ler-um-arquivo-csv-utilizando-a-biblioteca-pandas-dbeab96555ba